.true, .false {
    float: right;
    text-decoration: underline;
}

.true {
    color: green;
}

.false {
    color: red;
}

h1 {
    font-size: 23pt;
    padding: 5px 10px;
}

body {
    min-width: 250px;
    min-height: 100px;
    padding: 10px 10px;
}

.entry{
    font-size: 16pt;
}

.background, header{
    margin: auto;
    display: block;
    position: relative;
    width: 50%;
}

.note {
    font-size: 16pt;
    background: #f9f9f9;
    max-width: 700px;
    display:block;
    border-left: 10px solid rgb(130, 77, 200);
    margin: 25px 15px;
    padding: 10px 10px 15px 10px;
    box-shadow: 0px 3px 8px 2px #ccc;
    overflow-x: hidden;
    word-wrap: break-word;
}

.button {
    float: right;
    display: inline-block;
	background-color: rgb(130, 77, 200);
    border: none;
    color: white;
    padding: 5px 15px;
    transition-duration: 0.2s;
    font-size: 14px;
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(134, 10, 138);
}

.value{
    border-bottom: solid 2px transparent;
}

.value:hover {
    cursor: pointer;
    color: blue;
    border-bottom: solid 2px blue;
    transition: all 0.5s ease-in;
}

input[type=text] {
    font-size: 14px;
    display: block;
    border: solid 2px gray;
    margin: 5px 0;
    padding: 5px 5px;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: solid 2px #333;
    outline: none;
}

