.true {
    color: green;
}

.false {
    color: red;
}

h1 {
    font-size: 23pt;
    padding: 5px 10px;
}

*
{
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
    min-width: 400px;
    min-height: 200px;
}

.entry{
    font-size: 16pt;
}

.background{
    display: block;
    position: relative;
    margin: 0 auto;
}

.note {
    font-size: 16pt;
    background: #f9f9f9;
    max-width: 900px;
    display:block;
    border-left: 15px solid rgb(130, 77, 200);
    margin: 25px 15px;
    padding: 10px 15px 35px 10px;
    box-shadow: 0px 3px 8px 2px #ccc;
}

.button {
    float: right;
    display: inline-block;
	background-color: rgb(130, 77, 200);
    border: none;
    color: white;
    padding: 5px 15px;
    transition-duration: 0.2s;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(134, 10, 138);
}

.value{
    border-bottom: solid 2px transparent;
}

.value:hover {
    cursor: pointer;
    color: blue;
    border-bottom: solid 2px blue;
    transition: all 0.5s ease-in;
}

input[type=text] {
    font-size: 14px;
    display:block;
    border: solid 2px gray;
    margin: 5px 0px;
    padding: 5px 5px;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
}

input[type=text]:focus {
    border: solid 2px #333;
    outline: none;
}

